<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('myInput');
          
            input.addEventListener('input', function() {
              var filter = input.value.trim();
          
              // If the input is empty, do nothing
              if (filter.length === 0) return;
            });
          
            input.addEventListener('keypress', function(event) {
              if (event.key === "Enter") {
                event.preventDefault(); // Prevent accidental form submission
          
                // Convert input to Title Case
                var searchQuery = input.value.toLowerCase().split(" ").map(word => 
                  word.charAt(0).toUpperCase() + word.slice(1)
                ).join(" ");
          
                input.value = searchQuery; // Update input field with Title Case text
          
                // Redirect or submit search query
                window.location.href = `http://127.0.0.1:5000/weather_forecast/${searchQuery}`;
              }
            });
          });
    </script>
</head>
<body>
    <main class="container">
        <div role="search-bar">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for City">
            <!-- <ul id="search-ul">
                {% if city_names %}
                    {% for name in city_names %}
                        <li><a href="http://127.0.0.1:5000/weather_forecast/{{name}}">{{name}}</a></li>
                    {% endfor %}
                {% else %}
                    <p>No cities available</p>
                {% endif %} -->
            </ul>
        </div>
        <div class="temp-border">
            <span class="title"><h1>Weather Forecast</h1></span>
                <div class="weather-info">
                    {% if weather %}

                    {% for city in weather %}
                    <div class="icon-container">
                        {% if city.icon %}
                            <img id="weather-icon" class="glow" src="https://openweathermap.org/img/wn/{{city.icon}}@4x.png" width="128px" height="128px" alt="weather icon">
                        {% endif %}
                    </div>
                    <div class="content">
                        <span class="text-xl">{% if city.temp %}{{city.temp}}&deg;<span class="superscript">C</span> {% else %} No data available. {% endif %}</span>
                        <div class="mini-weather-info">
                            <span class="inline">{% if city.day_of_week %}{{city.day_of_week}}{% else %} No data available. {% endif %}</span>
                            <span class="inline">{% if city.local_time %}{{city.local_time}}{% else %} No data available. {% endif %}</span>
                        </div>
                        <div class="mini-weather-info">                        
                            <span class="block">{% if city.weather_description %}{{ city.weather_description.title() }}{% else %} No data available. {% endif %}</span>
                            <span class="block">{% if city.daily and city.daily[0] %}<img src="../static/assets/rain-fall.png" width="20px" height="20px" /> {{ city.daily[0].rain }} mm{% else %}No data available.{% endif %}</span>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="image-container"></div>
                {% if all_cities %}
                    <p>{{all_cities}}</p>
                {% endif %}
            </div>
    </main>
</body>
</html>