<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function navigateToCity() {
            const selectedCity = document.getElementById("city-select").value;
            if (selectedCity) {
                window.location.href = `/weather_forecast/${selectedCity}`;
            }
        }
    </script>
</head>
<body>
    <main class="container">
        <div class="">
            <span class="title"><h1 class="">Weather Forecast</h1></span>

            <!-- Dropdown to select city -->
            <form id="city-select-form">
                <label for="city-select">Choose a city:</label>
                <select id="city-select" onchange="navigateToCity()">
                    <option value="All cities" {% if city_name == "All Cities" %}selected{% endif %}>All Cities</option>
                    {% for city in all_cities %}
                    <option value="{{ city }}" {% if city == city_name %}selected{% endif %}>{{ city }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <!-- <div class="weather-card temp-border">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='assets/' + city_name + '.jpg') }}" alt="{{ city_name }}"> -->
                    <!-- <span class="city-name">{{ city_name }}</span> -->
                <!-- </div> -->
                <div class="weather-info">
                    {% if weather %}

                    {% for city in weather %}
                    <div class="icon-container">
                        {% if city.icon %}
                            <img id="weather-icon" class="glow" src="https://openweathermap.org/img/wn/{{city.icon}}@4x.png" width="128px" height="128px" alt="weather icon">
                        {% endif %}
                    </div>
                    <div class="content">
                        <span class="text-xl">{% if city.name %}{{city.name}}&deg;<span class="superscript"></span> {% else %} No data available. {% endif %}</span>
                        <span class="text-xl">{% if city.temp %}{{city.temp}}&deg;<span class="superscript">C</span> {% else %} No data available. {% endif %}</span>
                        <div class="mini-weather-info">
                            <span class="inline">{% if city.day_of_week %}{{city.day_of_week}}{% else %} No data available. {% endif %}</span>
                            <span class="inline">{% if city.local_time %}{{city.local_time}}{% else %} No data available. {% endif %}</span>
                        </div>
                        <div class="mini-weather-info">                        
                            <span class="block">{% if city.weather_description %}{{ city.weather_description.title() }}{% else %} No data available. {% endif %}</span>
                            <span class="block">{% if city.daily and city.daily[0] %}<img src="/static/assets/rain-fall.png" width="20px" height="20px" /> {{ city.daily[0].rain }} mm{% else %}No data available.{% endif %}</span>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="image-container"></div>
            </div>
        </main>
    </div>

</body>
</html>