@font-face {
    font-family: 'Custom Roboto';
    src: url('fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --custom-font-family: 'Custom Roboto';
    --charcoal: #36454F;
}
/* Basic css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--custom-font-family);
}

html {
    background-color: var(--charcoal);
}

/* Global styles */

.temp-border {
    border: 0.5px solid red;
}

/* Layout styles */
.container {
    margin: 2rem;
}

/* Component specific styles */

#city-select {
    width: 200px;
    height: 100px;
    margin: 0 0 0 2em;
    border: none;
}

.title {
    text-align: center;
}

/* Text sizes */
.text-xs {
    font-size: x-small;
}

.text-sm {
    font-size: small;
}

.text-md {
    font-size: medium;
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: 2.5rem;
}

.inline {
    display: inline-block;
}
/*  Media queries */
@media  screen and (max-width: 375px) {
    .title {
        display: none;
    } 
    #city-select-form {
        display: none;
    } 
    .superscript {
        font-size: calc(2.5rem / 2);
        position: relative;
        top: -1rem
    }
    .weather-info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        background: snow;
        border-radius: 1.5rem;
        box-shadow: 10px 5px 5px black;
    }
}