<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function navigateToCity() {
            const selectedCity = document.getElementById("city-select").value;
            if (selectedCity) {
                window.location.href = `/weather_forecast/${selectedCity}`;
            }
        }
    </script>
</head>
<body>
    <main class="container temp-border">
        <div class="">
            <span class="title"><h1 class="">Weather Forecast</h1></span>

            <!-- Dropdown to select city -->
            <form id="city-select-form">
                <label for="city-select">Choose a city:</label>
                <select id="city-select" onchange="navigateToCity()">
                    <option value="All cities" {% if city_name == "All Cities" %}selected{% endif %}>All Cities</option>
                    {% for city in all_cities %}
                    <option value="{{ city }}" {% if city == city_name %}selected{% endif %}>{{ city }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <!-- <div class="weather-card temp-border">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='assets/' + city_name + '.jpg') }}" alt="{{ city_name }}"> -->
                    <!-- <span class="city-name">{{ city_name }}</span> -->
                <!-- </div> -->
                <div class="weather-info">
                    {% if weather %}
                    <img src="/static/assets/icons/512/cloudy.png" width="100px" height="100px" alt="weather logo">
                    {% for city in weather %}
                        
                        <span>{% if city.name %}{{city.name}}{% else %} No data available. {% endif %}</span>
                        <span>{% if city.temp %}{{city.temp}}&deg; C {% else %} No data available. {% endif %}</span>
                        <span>{% if city.day_of_week %}{{city.day_of_week}}{% else %} No data available. {% endif %}</span>
                        <span>{% if city.local_time %}{{city.local_time}}{% else %} No data available. {% endif %}</span>
                        {% if city.weather_description %}{{ city.weather_description.title() }}{% else %} No temperature available. {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </main>
    </div>

</body>
</html>