<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
</head>
<body>
    <h1>
        Weather Forecast
    </h1>

    {% if weather %}
        <p> Location: {{ city_name }}</p>
            <ul>
        {% for city in weather %}
            <li>{{ city.name }}</li>
            <li>{{ city.lat }}</li>
            <li>{{ city.lon }}</li>
            <li>{{ city.temp }}&deg; Celcius</li>
        {% endfor %}
    {% else %}
        <p>No weather data available for this city.</p>
    {% endif %}
</body>
</html>